
// COLORS
@black: #4b4b4b;
@darkgrey: #707070;
@green: #cac967;
@lightyellow: #ffc738;
@white: #fff;
@blue: #2b5476;
@darkblue: green;
@grey: #f5f5f5;

@main-color: @darkgrey;
@h-color: @black;
@link: @black;
@link-hover: @blue;

@btn-color: @white;
@btn-bg: @green;
@btn-hover: @lightyellow;

@playFair: 'Playfair Display', serif;
@openSans: 'Open Sans', sans-serif;

@fw: 400;
@fz: 1.4rem;
@lh: 2rem;

@section-padding: 3rem 0;

body {
  color: @main-color;
  font-family: @openSans;
  margin: 0;
  font-weight: @fw;
  font-size: @fz;
}


p {
	font-size: @fz;
  // margin: 0;
	padding: 0;
	line-height: @lh;
  @media (min-width: 768px) {
    font-size: 1.6rem;
    line-height: 2rem;
  }
}

img {
  max-width: 100%;
  height: auto;
}

h1,h2,h3,h4 {
  font-family: @playFair;
	margin: 0;
  color: @h-color;
	font-weight: 700;
}

h1  {
	font-size: 2.5rem;
	line-height: 3rem;
  text-align: center;
  @media (min-width: 768px) {
    font-size: 4rem;
    line-height: 4.4rem;
  }
}

h2 {
	font-size: 2.4rem;
  @media (min-width: 768px) {
    font-size: 3.6rem;
    line-height: 4rem;
  }
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.6rem;
  @media (min-width: 768px) {
    font-size: 2rem;
  }
}

a {
  color: @black;
}

a:focus, input:focus, button:focus {
	outline: none;
}

section {
	padding: @section-padding;
  @media (min-width: 768px) {
    padding: 7rem 0;
  }
}

input {
	line-height: 50px;
	border: none;
	padding: 0;
	vertical-align: top;
	width: 380px;
  max-width: 100%;
}

a, button, input[type=submit], input[type=text], a:hover, button:hover, input[type=submit]:hover {
  -moz-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
}

.button {
	display: block;
	background: @btn-bg;
	color: @btn-color;
	border: none;
	line-height: 5rem;
	text-align: center;
	font-size: @fz;
  font-weight: 700;
	padding: 0;
	width: 24rem;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  border-radius: 3rem;
  font-family: @openSans;
  @media (min-width: 768px) {
    width: 37rem;
  }
	&:hover {
		opacity: 0.9;
    cursor: pointer;
	}
  &-light {
    border: 1px solid @green;
    background: transparent;
    color: @green;
    width: 19.2rem;
    position: relative;
    a{
      padding-right: 2rem;
      &::after {
        content: url("/images/playgreen.jpg");
        position: absolute;
        top: 2px;
        margin-left: 1rem;
      }
    }
  }
}

a.button:hover, a.button:focus {
	opacity: 0.9;
	text-decoration: none;
  cursor: pointer;
}

.description {
  font-size: @fz;
  // line-height: @lh;
}

iframe.iframe_video {
  height: 16rem;
  @media (min-width: 768px) {
    height: 26rem;
  }
}

/*******************/


/* HEADER */
.header {
  background: @white;
	position: relative;
  &__logo {
    line-height: 7rem;
    @media (min-width: 768px) {
      line-height: 10rem;
    }
    & img {
      height:5rem;
      @media (min-width: 768px) {
        height: 7.5rem;
      }
    }
  }
  &__contacts {
    padding-right: 0;
    padding-left: 0;
    text-align: right;
    @media (min-width: 768px) {
      height: 10.5rem;
      line-height: 10.5rem;
    }
    @media (min-width: 992px) {
      padding-right: 15px;
    }
    &__phone {
      font-family: @playFair;
      font-size: 2rem;
      color: #424242;
      line-height: 6.5rem;
      @media (min-width: 992px) {
        vertical-align: middle;
      }
    }
    .button {
      font-size: 1.2rem;
      width: 14rem;
      line-height: 3.7rem;
      display: none;
      margin-left: 1.5rem;
      vertical-align: middle;
      @media (min-width: 992px) {
        display: inline-block;
      }
      @media (min-width: 1200px) {
        width: 17rem;
      }
    }
  }
  &__menu {
    margin-top: 2.7rem;
    @media (min-width: 768px) {
      margin-top: 4.5rem;
    }
    @media (min-width: 992px) {
      display: none;
    }
    &__hamburger {
      width: 2.2rem;
      height: 1.6rem;
      margin-left: auto;
      &__item {
        &::before {
          content: '';
          background-color: #d1d1d1;
          border-radius: 0.3rem;
          position: absolute;
          width: 2.2rem;
          height: 0.4rem;
          transition: transform 0.3s;
        }
        &:nth-of-type(2)::before {
          top: 0.6rem;
        }
        &:nth-of-type(3)::before {
          top: 1.2rem;
        }
      }
      &.active {
        .header__menu__hamburger__item {
          &:nth-of-type(1)::before {
            transform: rotate(45deg);
            top: 5px;
            height: 0.2rem;
            background-color: @green;
          }
          &:nth-of-type(2)::before {
            opacity:0;
          }
          &:nth-of-type(3)::before {
            transform: rotate(-45deg);
            top: 5px;
            height: 0.2rem;
            background-color: @green;
          }
        }
      }
    }
    &__list {
      list-style: none;
      display: block;
      float: none;
      clear: both;
    	margin: 0;
    	padding: 0;
      max-height: 0;
      overflow: hidden;
      transition-duration: 0.3s;
      @media (min-width: 992px) {
        display: none;
      }
    	& li {
    		font-size: 1.7rem;
        text-align: center;
        line-height: 5rem;
        font-family: @playFair;
        border-bottom: 1px solid #e7e7e7;
        a {
          display: block;
        }
    	}
      &.active {
        max-height: 500px;
      }
    }
    &__desktop {
      display: none;
      @media (min-width: 992px) {
        display: block;
      }
      &__list {
        list-style: none;
        margin: 0;
        padding: 0;
      	li {
          font-size: 1.6rem;
          display: inline-block;
          text-align: center;
          line-height: 10.5rem;
          font-family: @playFair;
          a {
            display: block;
            padding-left: 1.5rem;
            padding-right: 1.5rem;
            &:hover {
              color: @black;
              text-decoration: none;
            }
          }
      	}
      }
    }
  }
  a {
    color: @black;
    text-decoration: none;
  }
}


/* INTRO */
.intro {
  min-height: 0;
  // height: 31rem;
  background: url("/images/bg1.jpg") no-repeat -190px 0px;
  text-align: center;
  padding: 2rem 0;
  @media (min-width: 768px) {
    padding: 12rem 0;
    height: 62rem;
    background-position: -520px 0;
  }
  @media (min-width: 992px) {
    background-position: 0 0;
    background-size: cover;
  }
  &__block {
    background: @white;
    border-radius: 0.4rem;
    padding: 3.5rem 0 4rem 0;
    @media (min-width: 768px) {
      min-height: 38rem;
      margin-right: 7rem;
      margin-left: 7rem;
      padding-top: 7rem;
    }
    @media (min-width: 992px) {
      margin-right: 0;
      margin-left: 0;
    }
    &__title {
      padding-left: 1rem;
      padding-right: 1rem;
      @media (min-width: 768px) {
        padding-left: 8rem;
        padding-right: 8rem;
      }
      @media (min-width: 992px) {
        padding-left: 11rem;
        padding-right: 11rem;
      }
    }
    &__description {
    	background: @white;
      padding: 1.5rem 1rem;
      line-height: 1.8rem;
      font-size: 1.5rem;
      @media (min-width: 768px) {
        font-size: 2rem;
        line-height: 2.5rem;
        padding: 2rem 5rem;
      }
      @media (min-width: 992px) {
        padding: 2rem 3rem;
      }
      @media (min-width: 1200px) {
        padding: 2rem 8rem;
      }
    }
  }
}

/* TEACHER */

.teacher {
  text-align: center;
  @media (min-width: 768px) {
    padding: 7rem 0 5.5rem;
  }
  &__block {
    @media (min-width: 768px) {
      padding: 0 7rem;
    }
  }
  &__photo {
    padding-top: 2rem;
    padding-bottom: 2rem;
    @media (min-width: 768px) {
      padding-top: 5.5rem;
      padding-bottom: 3.5rem;
    }
  }
  &__description {
    margin-top: 1.5rem;
  }
  &__name {
    font-size: 1.8rem;
    @media (min-width: 768px) {
      font-size: 2.4rem;
    }
  }
  &__tv {
    @media (min-width: 768px) {
      padding: 1rem 4rem 0 4rem;
    }
    @media (min-width: 992px) {
      padding: 2rem 7rem 0 7rem;
    }
    &__title {
      padding: 2rem 0;
      text-align: left;
      @media (min-width: 768px) {
        padding: 3rem 0 3.5rem;
      }
    }
  }
  &__video {
    margin-bottom: 2rem;
    @media (min-width: 768px) {
      margin-bottom: 2.5rem;
    }
  }
}

/* EXAMPLE */
.example {
  background-color: @grey;
  @media (min-width: 768px) {
    padding: 5.5rem 0 6rem;
  }
  &__block {
    @media (min-width: 768px) {
      padding: 0 7rem;
    }
    @media (min-width: 992px) {
      padding: 0;
    }
  }
  &__title {
    margin-bottom: 1.5rem;
    @media (min-width: 768px) {
      margin-bottom: 3.5rem;
    }
  }
}

/* ABOUT */

.about {
  &__block {
    @media (min-width: 768px) {
      padding: 0 7rem;
    }
    @media (min-width: 992px) {
      padding: 0;
    }
  }
  &__title {
    text-align: center;
    padding-bottom: 2rem;
    @media (min-width: 768px) {
      margin-bottom: 5rem;
      padding-bottom: 0;
    }
  }
  h3 {
    margin-bottom: 1rem;
    margin-top: 2rem;
    @media (min-width: 768px) {
      margin-bottom: 2rem;
      margin-top: 3rem;
    }
  }
}

/* PHOTO */

.photo {
  background-color: @grey;
  &__block {
    @media (min-width: 768px) {
      padding: 0 5.5rem;
      .slick-container {
        .slick-arrow {
          display: none !important;
        }
      }
    }
    @media (min-width: 992px) {
      padding: 0;
    }
  }
}


/* ADVANTAGES */
.advantages {
  &__info_block {
    text-align: center;
    margin-bottom: 1.5rem;
    @media (min-width: 768px) {
      margin-bottom: 4.5rem;
    }
  }
  &__img__wrapper {
    width: 14.7rem;
    height: 14.7rem;
    background-color: @grey;
    border-radius: 100%;
    line-height: 13.5rem;
    display: inline-block;
    margin-top: 3rem;
    margin-bottom: 1.5rem;
    @media (min-width: 768px) {
      margin-top: 4rem;
      margin-bottom: 2.5rem;
    }
  }
  &__title {
    margin-bottom: 1rem;
    margin-top: 2rem;
    @media (min-width: 768px) {
      margin-bottom: 2rem;
      margin-top: 4.5rem;
    }
  }
  &__list {
    font-family: @playFair;
    &__item {
      margin-top: 1.5rem;
      color: @black;
      width: 54%;
      display: inline-block;
      vertical-align: top;
      &:nth-of-type(2n-1) {
        width: 43%;
      }
      @media (min-width: 768px) {
        width: 32.9%;
        &:nth-of-type(2n-1) {
          width: 32.9%;
        }
      }
      &__title {
        font-size: 1.6rem;
      }
      &__info {
        font-size: 2rem;
        font-weight: 700;
      }
      &__subtext {
        color: #b4b4b4;
        font-size: 1.2rem;
        font-family: @openSans;
      }
      @media (min-width: 768px) {
        margin-top: 4.5rem;
      }
    }
  }
  &__prices__block {
    background-color: @grey;
    color: @black;
    border-radius: 0.4rem;
    text-align: center;
    font-family: @playFair;
    font-size: 1.6rem;
    padding: 2rem;
    margin-top: 2.5rem;
    @media (min-width: 768px) {
      margin-top: 4.5rem;
      padding: 3rem;
    }
    &__item {
      @media (min-width: 768px) {
        display: inline-block;
        width: 37.5%;
      }
    }
    &__price {
      font-size: 2.4rem;
      font-weight: 700;
      line-height: 2.6rem;
      margin-bottom: 2rem;
      &.red {
        color: #ff5f5f;
      }
    }
  }
  &__block {
    @media (min-width: 768px) {
      padding: 0 7rem;
    }
    @media (min-width: 992px) {
      padding: 0;
    }
  }
  &__info_icon {
    @media (min-width: 768px) {
      display: inline-block;
      width: 49.5%;
    }
    @media (min-width: 992px) {
      width: 49%;
    }
    &:first-of-type {
      @media (min-width: 992px) {
        width: 50%;
      }
    }
  }
  @media (min-width: 768px) {
    padding: 4rem 0 9rem;
  }

}


/* REVIEWS */

.reviews {
  min-height: 0;
  background: url("../images/bg2.png") no-repeat;
  background-size: cover;
  @media (min-width: 768px) {
    padding: 8rem 0;
  }
  .container {
    @media (min-width: 768px) {
      width: 100%;
      padding: 0;
    }
    @media (min-width: 992px) {
      width: 970px;
      padding-left: 15px;
      padding-right: 15px;
    }
    @media (min-width: 1200px) {
      width: 1170px;
    }
    .col-xs-12 {
      padding: 0;
    }
  }

  &__title {
    margin-bottom: 1.5rem;
    @media (min-width: 768px) {
      margin-bottom: 5rem;
    }
  }
  &__block {
    background: @white;
    border-radius: 0.4rem;
    text-align: center;
    font-size: 1.6rem;
    padding: 2rem;
    text-align: center;
    @media (min-width: 768px) {
      border-radius: 0;
      padding: 5rem 2rem;
      &::before {
        content: " ";
        display: table;
      }
      &::after {
        clear: both;
        content: " ";
        display: table;
      }
    }
    @media (min-width: 992px) {
      border-radius: 0.4rem;
    }
    &__item {
      &:not(:last-of-type) {
        margin-bottom: 2.5rem;
        @media (min-width: 768px) {
          margin-bottom: 4rem;
        }
      }
      margin-bottom: 2rem;
      img {
        margin-bottom: 1.5rem;
      }
      &__name {
        font-family: @playFair;
        color: @black;
        margin-bottom: 1.5rem;
      }
      .reviews__video {
        color: @green;
        text-decoration: none;
        display: block;
      }
    }
  }
}

/* STUDIO */

.studio {
  &__block {
    @media (min-width: 768px) {
      padding: 0 7rem;
    }
    @media (min-width: 992px) {
      padding: 0;
    }
  }
  &__title {
    text-align: center;
    padding-bottom: 2rem;
    @media (min-width: 768px) {
      margin-bottom:5rem;
      padding-bottom: 0;
    }
  }
  h3 {
    margin-bottom: 1rem;
    margin-top: 2rem;
    @media (min-width: 768px) {
      margin-bottom: 2rem;
    }
  }
}


/* CONTACTS */
.contacts {
  font-family: @playFair;
  text-align: center;
  color: @black;
  @media (min-width: 768px) {
    padding: 4rem 0 0;
    text-align: left;
  }
  &__block {
    display: flex;
    flex-direction: column;
    @media (min-width: 768px) {
      flex-direction: column-reverse;
      padding: 0 7rem;
    }
    @media (min-width: 992px) {
      flex-direction: row;
      padding: 0 0;
    }
  }
  p {
    font-size: 1.6rem;
    margin-bottom: 2.5rem;
    margin-top: 1rem;
  }
  &__info {
    @media (min-width: 768px) {
      padding-top: 7rem;
    }
    @media (min-width: 992px) {
      padding-top: 0;
      padding-left: 0;
    }
  }
  &__phone, &__email {
    @media (min-width: 768px) {
      display: inline-block;
      width: 33%;
    }
    @media (min-width: 992px) {
      display: block;
      width: 100%;
    }
  }
  &__icons {
    @media (min-width: 768px) {
      display: inline-block;
      width: 32%;
      vertical-align: top;
    }
    @media (min-width: 992px) {
      display: block;
      width: 100%;
    }
  }
  &__adress {
    @media (min-width: 768px) {
      width: 38%;
    }
    @media (min-width: 992px) {
      width: 100%;
    }
  }
  &__map {
    border-radius: 0.4rem;
    overflow: hidden;
    height: 34rem;
    @media (min-width: 992px) {
      padding-right: 0;
    }
  }
  &__icon {
    display: inline-block;
    height: 2rem;
    position: relative;
    margin-top: 1rem;
    margin-bottom: 2.5rem;
    &::after {
      position: absolute;
      left: 0;
    }
    &:hover {
      cursor: pointer;
    }
    &-vk {
      width: 2.7rem;
      &::after {
        content: url("/images/vk.png");
      }
      &:hover {
        &::after {
          content: url("/images/vkhover.png");
        }
      }
    }
    &-inst {
      width: 1.8rem;
      margin-left: 2.5rem;
      margin-right: 2.5rem;
      @media (min-width: 768px) {
        margin-left: 1rem;
        margin-right: 1rem;
      }
      &::after {
        content: url("/images/inst.png");
      }
      &:hover {
        &::after {
          content: url("/images/insthover.png");
        }
      }
    }
    &-fb {
      width: 0.9rem;
      &::after {
        content: url("/images/Face.jpg");
      }
      &:hover {
        &::after {
          content: url("/images/facehover.jpg");
        }
      }
    }
  }
}

/* APPLICATION */
.application {
  padding-bottom: 2rem;
  padding-top: 0;
  @media (min-width: 768px) {
    padding-bottom: 6rem;
  }
  @media (min-width: 992px) {
    padding-bottom: 18rem;
  }
  &__block {
    background-color: @grey;
    color: @black;
    border-radius: 0.4rem;
    text-align: center;
    font-family: @playFair;
    font-size: 1.6rem;
    padding: 2rem;
    @media (min-width: 768px) {
      margin-right: 7rem;
      margin-left: 7rem;
      padding: 7rem 2rem;
      margin-top: 2.5rem;
    }
    @media (min-width: 992px) {
      margin-right: 0;
      margin-left: 0;
      margin-top: 5.5rem;
    }
    h3 {
      margin-top: 1rem;
      @media (min-width: 768px) {
        margin-top: 3rem;
      }
    }
    p {
      font-size: 2rem;
      font-family: @openSans;
      padding-bottom: 2rem;
      padding-top: 2rem;
      @media (min-width: 768px) {
        padding-bottom: 3rem;
        padding-top: 3rem;
      }
    }
  }
  a {
    color: @black;
    text-decoration: none;
  }
}

/*стили для ошибки валидации*/

input[type=text].fill-error {
  /*border: 1px solid @green !important;*/
  border-bottom-color: #ff5f5f;
  max-height: 50px;
}

input[type=text].fill-error::-moz-placeholder {
  color: #ff5f5f !important;
  max-height: 50px;
}

input[type=text].fill-error::-webkit-input-placeholder {
  color: #ff5f5f !important;
  max-height: 50px;
}
/*-------------*/

.surname-input {
  display: none;
}


/* MODAL */

.modal-dialog {
  width: 92%;
  position: absolute;
  top: 50%;
  left: 4%;
  margin-top: -230px;
  border-radius: 0.4rem;
  overflow: hidden;
  @media (min-width: 768px) {
    width: 40rem;
    height: 46.5rem;
    left: 50%;
    margin-left: -20rem;
    margin-top: -270px;
  }
}

.modal-lesson {
  .modal-lessonBlock {
    background: #f5f5f5;
    padding: 4rem 3rem;
    display: none;
    @media (min-width: 1200px) {
      display: block;
    }
    h3 {
      font-size: 2.4rem;
    }
    &-quote {
      padding-left: 3rem;
      padding-top: 3rem;
      margin-top: 2rem;
      padding-right: 1rem;
      padding-bottom: 1.5rem;
      position: relative;
      font-size: 1.3rem;
      &::before {
        content: url("/images/quotes.png");
        width: 1.6rem;
        height: 1.2rem;
        position: absolute;
        top: 0;
        left: 0;
      }
      &::after {
        content: url("/images/quotes.png");
        width: 1.6rem;
        height: 1.2rem;
        position: absolute;
        bottom: 0;
        right: 0;
        transform: rotate(180deg);
      }
      p {
        font-size: 1.3rem;
        margin-bottom: 0.8rem;
      }
    }
    .modal-lessonTeacher {
      margin-top: 2rem;
      span {
        display: inline-block;
        font-family: @playFair;
        font-size: 1.6rem;
        line-height: 2.8rem;
        color: @black;
        vertical-align: middle;
        strong {
          font-size: 1.8rem;
        }
      }
      img {
        margin-right: 2.5rem;
      }
    }
  }
  .modal-dialog {
    @media (min-width: 1200px) {
      width: 88.5rem;
      display: flex;
      margin-left: -44.5rem;
      height: auto;
      margin-top: -320px;
    }
    .modal-content {
      @media (min-width: 1200px) {
        width: 40rem;
        height: auto;
      }
    }
    .modal-header {
      @media (min-width: 1200px) {
        padding-top: 4rem;
      }
      h3 {
        @media (min-width: 1200px) {
          width: 100%;
        }
      }
    }
  }
}

.modal-content {
  position: relative;
  background-color: #fff;
	text-align: center;
  width: 100%;
  padding-bottom: 1.5rem;
  @media (min-width: 768px) {
    width: 40rem;
  	height: 46.5rem;
  }
 }

 .modal-header {
	 padding-top: 1.5rem;
   @media (min-width: 768px) {
     padding-top: 3rem;
   }
	 & h3 {
     font-size: 2.2rem;
     font-weight: bold;
     position: relative;
     width: 20.5rem;
     margin-left: auto;
     margin-right: auto;
     @media (min-width: 768px) {
       font-size: 2.4rem;
     }
	 }
   & p {
     font-size: 1.4rem;
     padding-top: 0.5rem;
     @media (min-width: 768px) {
       padding-top: 1rem;
       font-size: 1.6rem;
     }
   }
 }

.modal-body {
  padding-left: 4%;
  padding-right: 4%;
  padding-top: 1.5rem;
  @media (min-width: 768px) {
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: 6rem;
  }
  p {
    font-size: 1.2rem;
    padding-top: 1.5rem;
    line-height: 2rem;
    @media (min-width: 768px) {
      padding-top: 2.5rem;
    }
    a {
      color: @green;
    }
  }
}

.modal form {
  margin: 0 auto;
  color: @black;
}

.modal-input {
  background: transparent;
  font-size: 16px;
  padding: 0 0;
  margin-bottom: 10px;
  border-bottom: 2px solid #c9c9c9;
  max-width: 100%;
  line-height: 3rem;
  font-family: @playFair;
  @media (min-width: 768px) {
    line-height: 3.8rem;
    font-size: 18px;
    margin-bottom: 1.5rem;
  }
}

.modal-submit {
 width: 240px;
 max-width: 100%;
 margin-top: 1rem;
 @media (min-width: 768px) {
   width: 100%;
   margin-top: 2.5rem;
 }
}

.modal .close {
	border: 0;
  padding: 1.5rem;
  margin: 0;
  overflow: visible;
  text-indent: -9999px;
  width: 4.5rem;
  height: 4.5rem;
  position: absolute;
  top: 0;
  right: 0;
  background: url(../images/bt-close.png) no-repeat center center !important;
	&:hover {
	  cursor: pointer;
	}
}

/*modals core*/

.modal {
  display: none;
  overflow: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  -webkit-overflow-scrolling: touch;
  outline: 0;
}

.modal-open {
  overflow: auto;
}

.modal.fade .modal-dialog {
  -webkit-transform: translate(0, -25%);
  -ms-transform: translate(0, -25%);
  -o-transform: translate(0, -25%);
  transform: translate(0, -25%);
  -webkit-transition: -webkit-transform 0.3s ease-out;
  -o-transition: -o-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
}

.modal.in .modal-dialog {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
}

.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #000000;
}

.modal-backdrop.fade {
  opacity: 0;
  filter: alpha(opacity=0);
}

.modal-backdrop.in {
  opacity: 0.5;
  filter: alpha(opacity=50);
}

/* Стили */

.agreement h1 {
  margin-bottom: 60px;
}

.thanks h1 {
  text-align: left;
  margin-bottom: 70px;
  font-size: 3.5rem;
  line-height: 4.4rem !important;
}

.thanks__back a {
  margin-left: 0;
}

.thanks__back a:hover {
  color: #fff;
}
